/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
  }
  .logo11{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Adjust the spacing as needed */
}

  /* Hero Grid CSS */
  #heroGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    background-repeat: no-repeat;
    background-image: url("../images/Spice.jpg");
  }

  
  /* Headline Styling */
  #headline {
    background-color: rgba(255,255,255,0.8);
    border-bottom: 5px solid #FF6200;
    position:absolute;
    right: -50px;
    top: 300px;
    padding: 25px;
    max-width: 550px;
    z-index: 100;
  }
  
  .heroGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  /* Category Grid CSS */
  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "bookcases bedroom patio"
      "couches couches patio"
      "desks desks desks";
  }
  
  /* Category Grid Areas */
  #appetizers, #desserts, #mainCourse, #drinks, #specials {
    grid-area: bookcases; /* Change the respective grid areas */
    background-image: url("../images/hopi.jpg"); /* Change the respective background images */
  }
  #appetizers {
    grid-area: bookcases;
    background-image: url("../images/hopi.jpg");
  }
  #desserts {
    grid-area: bedroom;
    background-image: url("../images/hopi2.jpg");
  }
  
  #mainCourse {
    grid-area: couches;
    background-image: url("../images/hopi3.png");
  }
  
  #drinks {
    grid-area: patio;
    background-image: url("../images/drinks.jpg");
  }
  
  #specials {
    grid-area: desks;
    background-image: url("../images/specials1.jpg");
  }
  
  .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  /* Heading Styles */
  .heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #FF6200;
  }
  
  /* Navigation Styles */
  #navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
  }
  
  #navBar h1 {
    font-weight: 500px;
  }
  
  #navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
  
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }
  
  .highlight {
    color: #FF6200;
    font-weight: 700;
  }
  
  .nav-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, filter 0.3s ease;
  }
  
  .nav-link:hover {
    color: #FF6200;
    transform: scale(1.2);
  }
  
  /* Typography CSS */
  h2 {
    font-size: 60px;
    margin: 0px 0px;
    color: #FF6200;
  }
  
  h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 0px 0px;
  }
  
  h4 {
    color: white;
    font-weight: 400;
    font-size: 22px;
    z-index: 3;
  }
  
  #headline p {
    max-width: 350px;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px;
    color: #636364;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 1000px) {
    #navBar{
      justify-content: space-evenly;
      align-items: center;
    }
    #navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    
    .promo {
      flex-direction: column;
    }
    .cont {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    }

    }
    #categoryGrid {
      grid-template-rows: 300px 300px 300px 300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "bookcases"
        "bedroom"
        "patio"
        "couches"
        "desks";
    }
  }
  
  /* Footer CSS */
  footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Promotions Section */
  #promotions {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  
  .h3 {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
  }
  
  .promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Promotion Box Styles */
  .promotion-box {
    margin: 20px;
    width: 300px;
    height: 400px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .promotion-box:hover {
    transform: scale(1.05);
  }
  
  
  .promotion-box img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 5px solid orange;
    border-radius: 8px;
  }
  /* Contact Section */
#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cont {
    display: flex;
    align-items: center;
  }
  
  .conta {
    justify-content: flex-start;
  }
  
  .cont iframe {
    margin-bottom: 10px;
  }
  
  /* Feedback Section */
  #feedback {
    text-align: center;
  }
  
  .feedback-box {
    margin: 20px;
  }
  
  .feedback-box img {
    max-width: 50px;
    border-radius: 50%;
  }
  
  .stars {
    color: #FFD700;
    font-size: 20px;
    margin-top: 5px;
  }
  
  /* Additional styling for responsiveness */
  @media only screen and (max-width: 600px) {
    footer #promotions #feedback #contact {
      text-align: center;
    }
    .promo {
      flex-direction: column;
    }
    .cont {
      flex-direction: column;
    }
    .cont iframe {
      width: 250px;
      height: 250px;
    }
    .promotion-box,
    .feedback-box {
      width: 80%;
      margin: 20px auto;
    }
    #navBar{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    #navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .icons{
      justify-content: center;
      align-items: center;
    }
  }
  
  /* CTA and Category Grid Area Styles */
.categoryGridArea {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, filter 0.3s ease;
  }

  
  .categoryGridArea:hover {
    color: #FF6200;
    filter: blur(1px);
  }